#section-suggestions {

  height: 300px;
  width: 400px;
  background-color: $white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 0 0 0 20px;


  & .container-suggestions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    max-height: 200px;

    & div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 10px 5px;
      justify-content: space-around;



      & .suggestions-icon, & .suggestions-button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      & .suggestions-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
      }
    }

    & .suggestions-icon i{
/*      background-color: $body-color;
      border-radius: 4px;*/
      color: $blue;
    }
  }
}

